*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --second-color:rgb(255, 255, 255);
    --primary-color:rgb(208, 208, 208);
    --black-color: #020101;
}
body{
    background-position: center;
    background-image: url('../images/bg11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    color: var(--second-color);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.title h4{
    font-size: 16px;
    font-weight: bold;
}
.title-link {
    color: var(--second-color);
    text-decoration: none;
}

.title-link:hover h4 {
    color: rgb(200, 230, 255); /* opsional, buat efek saat hover */
    text-decoration: none;
}

.container{
    display: flex;
    width: 100%;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.2); */
}
.login_container{
    position: relative;
    backdrop-filter: blur(25px);
    width: 350px;
    border: 2px solid var(--primary-color);
    padding: 4.5em 2.5em 4em 2.5em;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    color: var(--second-color);
}
.login_title{
    position: absolute;
    left: 50%;
    top: 0;
    display: flex;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: var(--primary-color);
    border-radius: 0 0 20px 20px;
    padding: 5px;
}
.login_title .logo {
    width: 40px; /* Sesuaikan ukuran logo */
    height: auto;
}

.login_title::before{
    content: "";
    top: 0;
    left: -30px;
    position: absolute;
    border-top-right-radius:50%;
    width: 30px;
    height: 10px;
    box-shadow: 15px 0 0 0 var(--primary-color);
    background: transparent;
}
.login_title::after{
    content: "";
    top: 0;
    position: absolute;
    height: 10px;
    right: -30px;
    width: 30px;
    background-color: transparent;
    border-top-left-radius: 50%;
    box-shadow: -15px 0 0 0 var(--primary-color);
}
.input_wrapper{
    position: relative;
    flex-direction: column;
    display: flex;
    margin: 20px 0;
}
.input_field{
    width: 100%;
    font-size: 16px;
    height: 55px;
    color: var(--second-color);
    background: transparent;
    padding-inline: 20px 54px;
    border-radius: 25px;
    border: 2px solid var(--primary-color);
    outline: none;
}
.input-submit{
    background:rgb(119, 182, 224);
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-radius: 30px;
    cursor:pointer;
    font-weight:500;
    border:none;
    transition: 0.3s;
}

#email{
    margin-bottom: 10px;
}
.label{
    position: absolute;
    transition:0.2s;
    top:15px;
    left: 20px;
}
.input_field:focus ~ .label,
.input_field:valid ~ .label{
    position: absolute;
    font-size: 14px;
    top: -10px;
    left: 20px;
    background-color: var(--primary-color);
    color: var(--black-color);
    border-radius: 30px;
    padding: 0 10px;
}
.icon{
    position: absolute;
    font-size: 20px;
    top: 18px;
    right:25px;
}
.remember-forgot{
    justify-content: space-between;
    display: flex;
    font-size: 15px;
}

/* .input-submit:hover{
    background: var(--second-color);
} */
@media only screen and (max-width: 564px){
    .container{
        padding:20px;
    }
    .login_container{
        padding: 7.5em 1.5em 4.5em 1.5em; 
    }
}